@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='crimson'] {
	--theme-rounded-base: 8px;
	--theme-rounded-container: 4px;
}

.lightswitch-track {
	@apply rounded-track;
}

.lightswitch-thumb {
	@apply rounded-thumb;
}

.rounded-track {
	border-radius: 24px !important;
}

.rounded-thumb {
	border-radius: 24px !important;
}
